body {
    background-color: #1c0f13;
}
h1 {
    font-family: monospace, serif;
    text-align: center;
    font-size: 50px;
    color:azure;
}

p {
    text-align-last: center;
    color:#612839;
    font-size: large;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}

nav {
    text-align: right;
    color:azure;
    font-family: monospace, serif;
}

.big {
    margin: 0, 10px, 0, 10px;
}